        <div class="form-row field-date_start">
            
            
                <div>
                    
                    
                        <label for="id_date_start_0">Interval start:</label>
                        
                            <p class="datetime">
  Дата: <input type="text" name="date_start_0" class="vDateField" size="10" id="id_date_start_0">

<br>
  Время: <input type="text" name="date_start_1" class="vTimeField" size="8" id="id_date_start_1">


</p>
                        
                    
                    
                </div>
            
        </div>
