{% extends "./daterange.html" %}
{% load static %}

{% block after_choices %}

<table>
<tbody>

<tr>
<td>{{ title.start_label }}</td>
<td>
 <div id="picker_{{ title.parameter_start }}"></div>
 <input type="hidden" id="id_{{ title.parameter_start }}" value="{{ title.start_val }}"/>
</td>
</tr>

<tr>
<td>{{ title.end_label }}</td>
<td>
 <div id="picker_{{ title.parameter_end }}"></div>
 <input type="hidden" id="id_{{ title.parameter_end }}" value="{{ title.end_val }}"/>
</td>
</tr>

</tbody>
</table>

{% endblock %}

{% block javascript_code %}

<link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/datetimepicker.js' %}"></script>

<script type="text/javascript">

$(document).ready( function () {
  $('#picker_{{ title.parameter_start }}').dateTimePicker({
    selectData: "{{ title.start_val }}",
    dateFormat: "{{ title.date_format }}",
    title: "{{ title.widget_start_title }}",
    showTime: {{ title.widget_with_time }},
    locale: "{{ title.widget_locale }}",
    buttonTitle: "{{ title.widget_button_label }}",
    allowBackwards: true,
    positionShift: { top: {{ title.widget_start_top }}, left: {{ title.widget_start_left }}}
  });
  $('#picker_{{ title.parameter_end }}').dateTimePicker({
    selectData: "{{ title.end_val }}",
    dateFormat: "{{ title.date_format }}",
    title: "{{ title.widget_end_title }}",
    showTime: {{ title.widget_with_time }},
    locale: "{{ title.widget_locale }}",
    buttonTitle: "{{ title.widget_button_label }}",
    allowBackwards: true,
    positionShift: { top: {{ title.widget_end_top }}, left: {{ title.widget_end_left }}}
  });
})

document.getElementById("btn_{{ title.parameter_name }}").onclick = function() {  
  var urlParams = new URLSearchParams(window.location.search);
  urlParams.set("{{ title.parameter_name }}", "{{ title.option_custom }}");
  urlParams.set("{{ title.parameter_start }}", document.getElementById("id_{{ title.parameter_start }}").value);
  urlParams.set("{{ title.parameter_end }}", document.getElementById("id_{{ title.parameter_end }}").value);
  window.location.replace(window.location.pathname + '?' + urlParams.toString() + window.location.hash);
}

</script>

{% endblock %}
