<details data-filter-title="{{ title.filter_name }}" {{ title.collapsed }}>
  <summary>{{ title.filter_name }}</summary>
  <ul>
  {% for choice in choices %}
    <li>
    <input type="checkbox" id="{{ title.parameter_name }}_{{ choice.value }}" name="{{ title.parameter_name }}" value="{{ choice.value }}" {% if choice.selected %}checked{% endif %} />
    <label for="{{ title.parameter_name }}_{{ choice.value }}">{{ choice.display }}</label>
    </li>
  {% endfor %}
  </ul>
  <input type="submit" value="{{ title.button_label }}" onclick="setChoices();" />
</details>
